<%- model_class = Ride -%>
<% if @ride.present? %>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  </div>
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
    <dd><%= @ride.source %></dd>
    <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
    <dd><%= @ride.destination %></dd>
    <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
    <dd><%= @ride.cost %></dd>
    <dt><strong><%= model_class.human_attribute_name(:arrival_time) %>:</strong></dt>
    <dd><%= @ride.arrival_time %></dd>
    <dt><strong><%= model_class.human_attribute_name(:departure_time) %>:</strong></dt>
    <dd><%= @ride.departure_time %></dd>
    <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
    <dd><%= @ride.start_date %></dd>
    <dt><strong><%= model_class.human_attribute_name(:route) %>:</strong></dt>
    <dd><%= @ride.route %></dd>
    <dt><strong><%= model_class.human_attribute_name(:travellers) %>:</strong></dt>
    <dd><%= @ride.travellers %></dd>
  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
                rides_path, :class => 'btn btn-default'  %>
  <% if current_user.is_owner?(@ride) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_ride_path(@ride), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  ride_path(@ride),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  <% end %>
<% else %>
  <h2> Sorry Could not find any ride </h2>
  <%= link_to "Home", root_path %>
<% end %>